<ion-view view-title="Rotate">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to Refresh"
      on-refresh="bc.doRefresh()">
    </ion-refresher>

    <div class="card-container">
      <button ng-click="bc.rotate()" class="button button-outline button-balanced btn-rotate">
        Rotate Screen
      </button>
    </div>

    <div class="list list-inset">
      <div class="item item-card" ng-repeat="(key,value) in bc.toDisplay">
        <div class="item-label-primary">{{value}}</div>
        <div class="item-label-secondary">{{bc.data[key]}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
